<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 align="center">XMESS</h1>
  <div class="xmess">
    <div class="xmess__js">
      <h2>XMESS Javascript</h2>
      <table>
        <thead>
          <tr>
            <th>Path</th>
            <th>Message</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jsMessage of messages.javascript;">
            <td>{{ jsMessage.path }}</td>
            <td>{{ jsMessage.payload }}</td>
            <td>{{ jsMessage.initiatorId  === 'xmess-javascript' ? '>' : '<' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="xmess__ng">
      <h2>XMESS Angular</h2>
      <table>
        <thead>
        <tr>
          <th></th>
          <th>Path</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ngMessage of messages.angular;">
          <td>{{ ngMessage.initiatorId === 'xmess-angular' ? '<' : '>' }}</td>
          <td>{{ ngMessage.path }}</td>
          <td>{{ ngMessage.payload }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

