.xmess {

}

.xmess__js {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.xmess__ng {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.xmess__js table,
.xmess__ng table {
    width: 100%;
}

.xmess__ng h2 {
    text-align: right;
}